body{
    background-color: powderblue;
}

h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    border:2px solid cyan;
    padding: 30px;
}
p {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 160%;
    border: 2px solid lightcoral;
    padding: 30px;
}